* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
}
body {
  color:  #E94D40;
  font-family: calibri;
}
table {
  color: blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
nav { 
	background-color: #333;
	  display:flex;
	justify-content: flex-end;
}

nav ul {
  width: 400px;
  display:flex;
  }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
h1 {
  font-size: 50px;
  font-weight: 300;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  text-align: center;
}
h2 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  left: 20px;
}
p {
  padding-left: 35px;
  padding-bottom: 15px;

}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}
table, th, td {
  border:1px solid black;
}

/*

display: flex;
justify-content: space-between;

*/

#inner-wrapper {
    margin: auto;
    width: 1200px;
}


